@mixin nombre {
    transform: scale(1.2);
  }

  @function nombre($transform: 5){
    @return $transform/1;
  }  

.nombre:hover{
  @include nombre;
}

 @mixin grad1 {
    height: 200px;
    background-color: #50d4fc;
    background-image: linear-gradient(#50d4fc, #507efc); 
  }

  @function grad1($height: 250px){
    @return $height/2;
  }

  #grad1 {
    @include grad1;
  }

  @mixin letras {
    text-align: center;  
    font-size: 80px;   
    color: #507efc;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2;
  }

  @function letras($font-size: 16px){
    @return $font-size/2;
  }

  .letras {
    @include letras;
  }

  @mixin item {
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    transition: 1s;
}

@function item($border-radius: 6px){
  @return $border-radius/2;
}

.item {
  @include item;
}

.item:hover{
    transform: scale(1.1) scaleY(1.1)  translateX(15px);
    background-color: #bfccf1;  
}

@mixin boton {
  color: white;
  padding: 10px 22px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  border-radius: 2px;
}

.boton {
  @include boton;
}

@function boton($padding: 12px) {
  @return $padding/2;
}






